html, body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    /* border: 2px solid red; */
    width: 100%;
    /* height: 100%; */
    /* width: max-content; */
    /* height: 100% */
    /* height: 100vh; */
    /* height:max-height; */
}

body{
    position: relative;
    background-image: linear-gradient(#572A84,black);
    background-repeat:no-repeat;
    color: white;
    font-family: Arial, open sans;  
    opacity: .9;  
}

header{
    /* position: relative; */
    width: 80%;
    /* outline: 1px solid red; */
    display: flex;
    /* justify-content: end; */
    margin: 0 auto;

    /* color:white; */
    /* font: Rounded Mplus 1c Bold, roboto bold, sans-serif; */
}

.logo{
    /* outline: 1px solid red; */
    height: 8rem;
    width: 8rem;
    /* width:10%; */
    padding: 0, 1rem;
    z-index: 1;

}
.top-nav{
    /* position: absolute; */
    width: 90%;
    display:flex;
    /* outline: 1px solid red; */
    justify-content:flex-end;
    font-family: Arial, open sans;
    font-size: 1rem;
    align-items:flex-start;
    margin-top: 0;
    z-index: 1;

}
.nav-menu{
    /* outline: 1px solid red; */
    list-style:none;
    display:flex;
    justify-content: flex-end;
    padding: 1.5rem;
    /* align-content: flex-end; */
    /* align-items: flex-start; */

}

.hero-banner{
    display: flex;
    /* justify-content: center; */
    flex-direction:column;
    margin-top: 8rem;
    margin-bottom: 8rem;
    align-items: center;
    line-height: 2rem;
    font-family: Arial, open sans;
    letter-spacing: 2px;
    z-index: 1;
}

h1{
    font-size: 3rem;
    z-index: 1;
}

h2{
    font-size: 2.5rem;
    z-index: 1;
}

h3, p{
    font-size: 2rem;
    padding: 0;
    z-index: 1;
}

.arrow{
    display: flex;
    justify-content: center;
    height: 100px;
    /* margin-top: -11rem; */
    margin-bottom: 20rem;

}

.arrow i{
    color:#C5B101;
    opacity: .8;
    /* font-size: 4rem; */
}

#bounceMe {
    animation: bounceArrow 1.2s infinite;
  }

  @keyframes bounceArrow {
    from {
      margin-top: 0px;
    }
    50%{
      margin-top: 20px;
    }
    to {
      margin-top: 0px;
    }
  }

.cards-continer{
    margin: auto;
    display:flex;
    max-width: 72rem;
    /* justify-content: center;
    flex-flow: wrap; */
    /* z-index: 2; */
}

.card:nth-child(2n){
    flex-direction: row-reverse;
}

.card {
    /* outline: 1px solid red; */
    position: relative;
    margin: auto;
    max-width: 70rem;
    max-height: 38rem;
    display: flex;
    justify-content: center;
    /* border-radius: 20px; */
    margin-top: 2rem;
    z-index: 2;
}

.card .hoverCard{
  display: none;
  justify-content: center;
  align-items: center;
  opacity: 100%;
  background-color: rgba(0, 0, 0, 0.85);
  border-radius: 20px;
  border-color: white;
  box-shadow: 0 4px 10px;
  position: absolute;
  height: 100%;
  width: 100%;
}

.hoverCard button{
    padding: 20px 48px;
    font-size: 1.8rem;
    background-color: #572A84;
    color: white;
    border-radius: 15px;
    border-color: white;
    box-shadow: 0 1px 20px;
}

.card:hover .hoverCard{
    display: flex;
}

.card-intro{
    /* outline: 1px solid red; */
    max-width: 60rem;
    max-height:fit-content;
    background-color: #3D2A52;
    padding: 1.5rem;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
}

.card:nth-of-type(2) .card-intro{
    border-radius: 20px 0px 0px 20px ;

}

.card:nth-of-type(2) img{
    border-radius: 0;

}
.card img{
    max-height: 38rem;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

h4{
    font-size: 1.8rem;
    font-weight: 600px;
}

.card p{
    font-size: 1.5rem;
}

.background-scratches{
    position: absolute;
    width: 100%;
    min-height: inherit;
    opacity: 60%;
    z-index: -.1;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8rem;
    margin-bottom: 8rem;
    /* position: relative; */
}

.socialIcons{
    display: flex;
    /* align-content: flex-start; */
}

.socials{
    display: flex;
    /* justify-items: center; */
    align-items: center;
    /* justify-content: space-between; */
    /* justify-self: space-around; */
    /* padding:0;
    Margin: 0; */
    width: 2.5rem;
    height:2.5rem;
    background-color: white;
    border-radius: 50%;
    justify-content: center;
    text-align:center;
}

.socials+.socials{
    margin-left: 1rem;
}

.behance i, .linkedIn i{
    color: black;
    font-size: 1.5rem;
    display:flex;  

}

footer p{
    font-size: 1.5rem;
    padding-right: 2rem;
    margin: 0;
}

@media only screen and (max-width: 980px) {
.hero-banner{
    display: flex;
    justify-content:center;
    flex-direction:column;
    margin: 4rem;
    /* align-items: center; */
    line-height: 2rem;
    letter-spacing: 2px;
}

h1{
    font-size: 2.5rem;
    line-height: 2.8rem;
    }

h2{
    font-size: 2rem;
    }

h3, p{
    font-size: 1.5rem;
    padding: 0;
}

h4{
    font-size: 1.5rem;
    font-weight: 600px;
}

.cards-container{
    /* border: 1px solid red; */
    /* position: relative; */
    margin: auto;
    max-width: 36rem;
    min-height: 100vh;
}

.card img{
    max-width: 100%;
    border-top-right-radius: 20px;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
}

.card {
    display: block;
    margin: auto;
    /* margin-top: 8rem; */
    position: relative;
    max-width: 100%;
    max-height: inherit;
    /* flex-direction: column; */
    /* align-items: center; */
}

.hoverCard{
    display: block;
    /* position: absolute; */
    max-width: 100%;
    /* margin-top: 8rem; */
    /* flex-direction: column; */
    /* align-items: center; */
}
    
.card-intro{
    max-width: 100%;
    margin-top: -.3rem;
    margin-bottom: 2rem;
    border-radius: 0 0 20px 20px;

}
.card:nth-of-type(2) .card-intro{
    border-radius: 0 0 20px 20px;
}

.card:nth-of-type(2) img{
    border-radius: 20px 0 -0px 0;
}

p.cards{
    font-size: 1rem;
    padding: 1rem;
}

.background-scratches{
    position: absolute;
    width: 100%;
    min-height: inherit;
    opacity: 60%;
}

footer{
    /* margin-bottom: -1rem; */
    position:bottom;
}
}



